<div class="about-section">
		<div class="tabs-box">
			<ul class="tabs-menu">
                <li><input type="radio" ng-model="myVar" value="About-us" checked="checked"/>About-us</li>
                <li><input type="radio" ng-model="myVar" value="Our History">Our History</li>
				<li><input type="radio" ng-model="myVar" value="work">Our Work</li>
				<li><input type="radio" ng-model="myVar" value="career">Careers</li>
			</ul>
			<div class="clearfix"> </div>
			<div class="tab-grids" ng-switch="myVar">
				<div class="tab-grid" ng-switch-when="About-us">
					<h5>About-us</h5>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus efficitur, eros sed suscipit porttitor, diam felis tempus odio, eget sollicitudin purus sem sit amet dolor. Integer euismod non mauris commodo rutrum. Nulla risus felis, rhoncus vel est sed, consequat efficitur ante. Phasellus mi sapien, accumsan vitae lobortis vitae, laoreet dapibus metus. Pellentesque id ipsum vel nibh imperdiet imperdiet ac ac mauris. Suspendisse ac leo augue. Nullam venenatis massa ut pulvinar scelerisque. Duis vel vehicula urna. Quisque semper vitae lectus a feugiat. Sed dignissim egestas nunc, nec suscipit mauris interdum lobortis.</p>
					<p>Duis iaculis justo nec tellus bibendum rhoncus. Phasellus quis pretium leo, sed porta ligula. Mauris vitae ornare nisi, et dapibus elit. Vestibulum vel urna malesuada, bibendum orci sed, venenatis nunc. Morbi dignissim est tortor, ac aliquam augue blandit at. Pellentesque pulvinar convallis augue, in sodales risus feugiat et. Ut viverra pellentesque tellus eu consectetur. Maecenas eget massa nulla. Fusce convallis et sapien a hendrerit. Etiam viverra maximus dolor, ac tempor sapien.</p>
					<div class="about-grids">
							<div class="about-bottom-grids">
								<div class="col-sm-6 about-left">
									<div class="about-left-grids">
										<div class="col-md-2 about-left-img">
											<i class="fa fa-clock-o"></i>
										</div>
										<div class="col-md-10 about-left-info">
											<a href="#">When We Started</a>
											<p>Suspendisse cursus tempus ullamcorper Praesent molestie urna a metus auctor vulputate molestie urna a metus auctor molestie urna a metus auctor.</p>
										</div>
										<div class="clearfix"> </div>
									</div>
								</div>
								<div class="col-sm-6 about-right">
									<div class="about-left-grids">
										<div class="col-md-2 about-left-img">
											<i class="fa fa-users"></i>
										</div>
										<div class="col-md-10 about-left-info">
											<a href="#">Community Guidelines</a>
											<p>Suspendisse cursus tempus ullamcorper Praesent molestie urna a metus auctor vulputate molestie urna a metus auctor molestie urna a metus auctor.</p>
										</div>
										<div class="clearfix"> </div>
									</div>
								</div>
								<div class="clearfix"> </div>
							</div>
							<div class="about-bottom-grids">
								<div class="col-sm-6 about-left">
									<div class="about-left-grids">
										<div class="col-md-2 about-left-img">
											<i class="fa fa-sitemap"></i>
										</div>
										<div class="col-md-10 about-left-info">
											<a href="#">About Our Site</a>
											<p>Suspendisse cursus tempus ullamcorper Praesent molestie urna a metus auctor vulputate molestie urna a metus auctor molestie urna a metus auctor.</p>
										</div>
										<div class="clearfix"> </div>
									</div>
								</div>
								<div class="col-sm-6 about-right">
									<div class="about-left-grids">
										<div class="col-md-2 about-left-img">
											<i class="fa fa-pencil-square-o"></i>
										</div>
										<div class="col-md-10 about-left-info">
											<a href="#">New Update</a>
											<p>Suspendisse cursus tempus ullamcorper Praesent molestie urna a metus auctor vulputate molestie urna a metus auctor molestie urna a metus auctor.</p>
										</div>
										<div class="clearfix"> </div>
									</div>
								</div>
								<div class="clearfix"> </div>
							</div>
							<div class="about-bottom-grids">
								<div class="col-sm-6 about-left">
									<div class="about-left-grids">
										<div class="col-md-2 about-left-img">
											<i class="fa fa-book"></i>
										</div>
										<div class="col-md-10 about-left-info">
											<a href="#">Careers</a>
											<p>Suspendisse cursus tempus ullamcorper Praesent molestie urna a metus auctor vulputate molestie urna a metus auctor molestie urna a metus auctor.</p>
										</div>
										<div class="clearfix"> </div>
									</div>
								</div>
								<div class="col-sm-6 about-right">
									<div class="about-left-grids">
										<div class="col-md-2 about-left-img">
											<i class="fa fa-mobile"></i>
										</div>
										<div class="col-md-10 about-left-info">
											<a href="#">Contact Us</a>
											<p>Suspendisse cursus tempus ullamcorper Praesent molestie urna a metus auctor vulputate molestie urna a metus auctor molestie urna a metus auctor.</p>
										</div>
										<div class="clearfix"> </div>
									</div>
								</div>
								<div class="clearfix"> </div>
							</div>
						</div>
				</div>
				
				<div class="tab-grid" ng-switch-when="Our History">
					<h5>History - May 2013</h5>
					<a href="#">There are many variations of passages of Lorem Ipsum available, but the majority </a>
					<a href="#">It is a long established fact that a reader will be distracted by the readable</a>
					<a href="#">Lorem Ipsum is simply dummy text of the printing and typesetting industry</a>
					<p>Duis iaculis justo nec tellus bibendum rhoncus. Phasellus quis pretium leo, sed porta ligula. Mauris vitae ornare nisi, et dapibus elit. Vestibulum vel urna malesuada, bibendum orci sed, venenatis nunc. Morbi dignissim est tortor, ac aliquam augue blandit at. Pellentesque pulvinar convallis augue, in sodales risus feugiat et. Ut viverra pellentesque tellus eu consectetur. Maecenas eget massa nulla. Fusce convallis et sapien a hendrerit. Etiam viverra maximus dolor, ac tempor sapien.</p>
				</div>
				<div class="tab-grid" ng-switch-when="work">
					<h5>December 2012</h5>
					<a href="#">Lorem Ipsum is simply dummy text of the printing and typesetting industry</a>
					<a href="#">There are many variations of passages of Lorem Ipsum available, but the majority </a>
					<a href="#">It is a long established fact that a reader will be distracted by the readable</a>
					<a href="#">Lorem Ipsum is simply dummy text of the printing and typesetting industry</a>
					<a href="#">There are many variations of passages of Lorem Ipsum available, but the majority </a>
					<a href="#">It is a long established fact that a reader will be distracted by the readable</a>
				</div>
				
				<div class="tab-grid" ng-switch-when="career">
					<div class="tb-one">
						<h3>Lorem ipsum dolor sit amet</h3>
						<p>Nulla tincidunt adipiscing aliquet. Suspendisse vitae mi at diam tempus imperdiet. Aliquam erat volutpat. Duis pharetra nibh sit amet augue porta, quis mattis massa aliquet. Morbi in consectetur ipsum rhoncus risus. Pellentesque quam felis, vulte. Aliquam erat volutpat. Curabitur varius gravida bibendum. </p>
					</div>
					<div class="tb-one">
						<h3>Proin tincidunt id dui et ullamcorper</h3>
						<p>In hac habitasse platea dictumst. Etiam tincidunt vulputate feugiat. Ut nulla libero, bibendum sed mauris in, faucibus tincidunt arcu. Praesent lobortis pretium nibh a faucibus. Vivamus ac nibh convallis, euismod velit ac, feugiat magna. Vivamus nunc purus, ornare eget ante eget, luctus convallis magna. Ut augue elit, pellentesque in nisi sit amet, sodales convallis sapien. Proin imperdiet orci vitae vehicula convallis. In sit amet adipiscing nisi. Pellentesque et nibh volutpat, dignissim enim quis, mattis ipsum. Integer molestie id purus sed tempor. Sed mollis iaculis odio, nec tincidunt odio. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Integer in nisi nulla. Vivamus placerat ligula libero, vitae gravida lectus facilisis et.</p>
					</div>
					<div class="tb-one">
						<h3>Integer eleifend facilisis arcu sit amet consequat</h3>
						<p>Aenean gravida enim ut diam pulvinar, in imperdiet felis consectetur. Cras arcu diam, ullamcorper ultricies faucibus vel, aliquet eget lacus. Aenean quis adipiscing orci. Nulla non aliquet nibh. Maecenas et est sodales, scelerisque mi in, tincidunt mauris. Donec sem metus, tincidunt vel luctus quis, scelerisque tempus ante. Praesent quis diam sollicitudin, eleifend ipsum ac, imperdiet dui. Nulla lobortis at nulla laoreet ultrices. </p>
					</div>
					
				</div>
				</div>
			<div class="clearfix"> </div>
		</div>
	</div>