<div class="now-showing-list">
		<div class="col-md-4 movies-by-category movie-booking">
			<div class="movie-ticket-book">
					
					<div class="clearfix"></div>
					<img src="assets/images/movie-show.jpg" alt="" />
					<div class="bahubali-details">
						<h4>Release Date:</h4>
						<p>Jul 10, 2015</p>
						<h4>Duration:</h4>
						<p>2 hrs 30 mins</p>
						<h4>Director:</h4>
						<p>S.S. Rajamouli.</p>
						<h4>Language:</h4>
						<p>Telugu</p>
						<h4>Genre:</h4>
						<p>Action, Romance</p>
						<h4>Cast & Crew:</h4>
						<p>Prabhas as Amarendra Baahubali and Shivudu, Rana Daggubati as Bhallala Deva in Telugu and Palvaalthevan in Tamil, Anushka Shetty as Devasena, Tamannaah as Avantika, Sathyaraj as Kattappa, Nassar as Bijjala Deva in Telugu and Pingala Devan in Tamil, Ramya Krishnan as Sivagami</p>
					</div>
				</div>
			</div>
		<div class="col-md-8 movies-dates">	
			<div class="movie-date-selection">
				<ul>
					<li class="location">
						<a ui-sref="pic-a-movie"><i class="fa fa-map-marker"></i>Theater Name: Location</a>
					</li>
					<li class="time">
						<a href="movie-payment.html">11:00 AM</a>
					</li>
					<li class="time">
						<a href="movie-payment.html">3:00 PM</a>
					</li>
					<li class="time">
						<a href="movie-payment.html">6:20 PM</a>
					</li>
					<li class="time">
						<a href="movie-payment.html">9:00 PM</a>
					</li>
				</ul>
			</div>
			<div class="movie-date-selection">
				<ul>
					<li class="location">
						<a ui-sref="pic-a-movie"><i class="fa fa-map-marker"></i>Theater Name: Location</a>
					</li>
					<li class="time">
						<a href="movie-payment.html">11:00 AM</a>
					</li>
					<li class="time">
						<a href="movie-payment.html">3:00 PM</a>
					</li>
					<li class="time">
						<a href="movie-payment.html">6:20 PM</a>
					</li>
					<li class="time">
						<a href="movie-payment.html">9:00 PM</a>
					</li>
				</ul>
			</div>
			<div class="movie-date-selection">
				<ul>
					<li class="location">
						<a ui-sref="pic-a-movie"><i class="fa fa-map-marker"></i>Theater Name: Location</a>
					</li>
					<li class="time">
						<a href="movie-payment.html">11:00 AM</a>
					</li>
					<li class="time">
						<a href="movie-payment.html">3:00 PM</a>
					</li>
					<li class="time">
						<a href="movie-payment.html">6:20 PM</a>
					</li>
					<li class="time">
						<a href="movie-payment.html">9:00 PM</a>
					</li>
				</ul>
			</div>
			<div class="movie-date-selection">
				<ul>
					<li class="location">
						<a ui-sref="pic-a-movie"><i class="fa fa-map-marker"></i>Theater Name: Location</a>
					</li>
					<li class="time">
						<a href="movie-payment.html">11:00 AM</a>
					</li>
					<li class="time">
						<a href="movie-payment.html">3:00 PM</a>
					</li>
					<li class="time">
						<a href="movie-payment.html">6:20 PM</a>
					</li>
					<li class="time">
						<a href="movie-payment.html">9:00 PM</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="clearfix"></div>
	</div>

