<style>
    .center{
        text-align: center;
        border: 1px solid transparent !important;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    }
.panel-heading_re {
    background-color: #fff !important;
    border-color: #fff !important;
}
    .panel-heading_re img{
        
        width: 188px;
    }
    .coupon-type {
    font-size: 20px;
    font-weight: 600;
    margin: 16px 0;
    line-height: 1;
}
    .coupon-title {
    height: 55px;
    display: table;
    width: 100%;
}
    .coupon-btn {
    width: 220px;
    cursor: pointer;
    background-color: #64359e;
    margin: 0 auto;
    color: #fff;
    line-height: 48px;
    margin-bottom: 12px;
    border-radius: 2px;
}
    
</style>
        <div class="row">
            <div class="col-md-4">
                <div class="panel panel-default center">
                    <div class="panel-heading panel-heading_re">
                        <img src="https://happysale.in/hs/img/m/makemytrip-1514462556414.jpeg">
                    </div>
                    <div class="panel-body">
                        <div class="coupon-type"><span>Rs 800 OFF</span></div>
                        <div class="coupon-title"><span>Book 2 Tickets &amp; Get Flat Rs 800 OFF</span></div>
                        <div class="coupon-btn cpnlink">Show Coupon Code</div>
                        <a href="https://happysale.in/makemytrip/" title="Makemytrip" class="coupon-all">Makemytrip Coupons</a>
                    </div>
                </div>
            </div>
               <div class="col-md-4">
                <div class="panel panel-default center">
                    <div class="panel-heading panel-heading_re">
                        <img src="https://happysale.in/hs/img/m/max-fashion-1486024780859.jpeg">
                    </div>
                    <div class="panel-body">
                        <div class="coupon-type"><span>Rs 800 OFF</span></div>
                        <div class="coupon-title"><span>Book 2 Tickets &amp; Get Flat Rs 800 OFF</span></div>
                        <div class="coupon-btn cpnlink">Show Coupon Code</div>
                        <a href="https://happysale.in/makemytrip/" title="Makemytrip" class="coupon-all">Makemytrip Coupons</a>
                    </div>
                </div>
            </div>
               <div class="col-md-4">
                <div class="panel panel-default center">
                    <div class="panel-heading panel-heading_re">
                        <img src="https://happysale.in/hs/img/m/makemytrip-1514462556414.jpeg">
                    </div>
                    <div class="panel-body">
                        <div class="coupon-type"><span>Rs 800 OFF</span></div>
                        <div class="coupon-title"><span>Book 2 Tickets &amp; Get Flat Rs 800 OFF</span></div>
                        <div class="coupon-btn cpnlink">Show Coupon Code</div>
                        <a href="https://happysale.in/makemytrip/" title="Makemytrip" class="coupon-all">Makemytrip Coupons</a>
                    </div>
                </div>
            </div>
               <div class="col-md-4">
                <div class="panel panel-default center">
                    <div class="panel-heading panel-heading_re">
                        <img src="https://happysale.in/hs/img/m/max-fashion-1486024780859.jpeg">
                    </div>
                    <div class="panel-body">
                        <div class="coupon-type"><span>Rs 800 OFF</span></div>
                        <div class="coupon-title"><span>Book 2 Tickets &amp; Get Flat Rs 800 OFF</span></div>
                        <div class="coupon-btn cpnlink">Show Coupon Code</div>
                        <a href="https://happysale.in/makemytrip/" title="Makemytrip" class="coupon-all">Makemytrip Coupons</a>
                    </div>
                </div>
            </div>
              <div class="col-md-4">
                <div class="panel panel-default center">
                    <div class="panel-heading panel-heading_re">
                        <img src="https://happysale.in/hs/img/m/makemytrip-1514462556414.jpeg">
                    </div>
                    <div class="panel-body">
                        <div class="coupon-type"><span>Rs 800 OFF</span></div>
                        <div class="coupon-title"><span>Book 2 Tickets &amp; Get Flat Rs 800 OFF</span></div>
                        <div class="coupon-btn cpnlink">Show Coupon Code</div>
                        <a href="https://happysale.in/makemytrip/" title="Makemytrip" class="coupon-all">Makemytrip Coupons</a>
                    </div>
                </div>
            </div>
              <div class="col-md-4">
                <div class="panel panel-default center">
                    <div class="panel-heading panel-heading_re">
                        <img src="https://happysale.in/hs/img/m/max-fashion-1486024780859.jpeg">
                    </div>
                    <div class="panel-body">
                        <div class="coupon-type"><span>Rs 800 OFF</span></div>
                        <div class="coupon-title"><span>Book 2 Tickets &amp; Get Flat Rs 800 OFF</span></div>
                        <div class="coupon-btn cpnlink">Show Coupon Code</div>
                        <a href="https://happysale.in/makemytrip/" title="Makemytrip" class="coupon-all">Makemytrip Coupons</a>
                    </div>
                </div>
            </div>
        </div>
